# Ignore all
*

# Except folders
!packages/**/
!e2e/**/
!tests/**/
!www/**/

# Except extensions
!*.ts
!*.tsx
!*.js

# Always ignore distribution folder
lib/

# Always ignore not allowed JavaScript files
packages/**/src/*.js

# Always ignore Yarn 2 Plug aNd Play files
/.pnp.*

# Always ignore modules folder
node_modules/
