# Ignore all
*

# Global allowed extensions
!*.ts

# Allowed folders
!static/
!static/**/
!packages/
!packages/**/
!www/
!www/**/
!tests/
!tests/**/

# Allowed in packages folder
!packages/*/package.json
!packages/*/README.md
!packages/*/*.js

# Allowed in static folder
!static/**/*.md
!static/audio/*.mp3
!static/img/*.ico
!static/img/*.svg

# Allowed in www folder
!www/LICENSE.md
!www/**/*.mdx
!www/*.json
!www/src/**/*.tsx
!www/src/custom.css
!www/src/sidebar.js

# Allowed in tests folder
!tests/**/tsconfig.json

# Project root allowed extensions
!/*.js
!/*.json
!/*.lock
!/.*ignore
!/.*rc
!/.*config
!/.git*
!/.*.yml
!/*.md

# VSCode configs
!.vscode/
!.vscode/*.json

# VIM configs
!.vim/
!.vim/*.json

# GitHub configs
!.github/
!.github/*.yml
!.github/**/
!.github/ISSUE_TEMPLATE/*.md
!.github/workflows/*.yml

# Yarn 2 configs
!.yarn/
!.yarn/releases
!.yarn/releases/**
!.yarn/plugins
!.yarn/plugins/**
!.yarn/sdks
!.yarn/sdks/**
!.yarn/versions
!.yarn/versions/**
/.pnp.*

# Cypress configs
!e2e/
!e2e/**/
!e2e/tsconfig.json

# Remove NPM's lock file in favor of Yarn's lock file
package-lock.json

# Always ignore modules folder
node_modules/

# Always ignore distribution folder
lib/
